{{- $position := .position -}}
{{- $title := .title -}}

{{- with .data -}}
  <section class="block-gallery" id="block-{{ $position }}">
    <div class="container">
      <div class="block-content">

        {{- if $title }}
          <div class="top">
            <h2>{{ partial "PrepareHTML" $title }}</h2>
          </div>
        {{ end -}}

        {{- if eq .layout "carousel" -}}
          {{ partial "blocks/templates/gallery/layout-carousel" . }}
        {{- else -}}
          {{ partial "blocks/templates/gallery/layout-list" . }}
        {{- end -}}

      </div>
    </div>
  </section>
{{- end -}}
