{{- $position := .position -}}
{{- $title := .title -}}
{{- with .data -}}
  <section class="block-timeline" id="block-{{ $position }}">
    <div class="container">

      <div class="timeline">
        {{ if $title }}
          <h2>{{ partial "PrepareHTML" $title }}</h2>
        {{ end }}
        {{ with . }}
          {{ if .description }}
            <h3>{{ partial "PrepareHTML" .description }}</h3>
          {{ end }}
          <div class="events">
            <ol>
              {{ range .events }}
                <li class="event">
                  <p><strong>{{- partial "PrepareHTML" .title -}}</strong></p>
                  <hr>
                  <p>{{- partial "PrepareHTML" .text -}}</p>
                </li>
              {{ end }}
            </ol>
            {{ if  (gt (len .events) 0) }}
              <div class="timeline-arrows">
                <button class="previous" disabled title="{{ i18n "blocks.timeline.prev"}}"></button>
                <button class="next" title="{{ i18n "blocks.timeline.next"}}"></button>
              </div>
            {{ end }}
          </div>
        {{ end }}
      </div>

    </div>
  </section>
{{- end -}}
