<table class="table-persons">
  <caption>{{ partial "PrepareHTML" .Title }}</caption>
  <tbody>
    {{- range (.Paginate (.Pages.ByParam "last_name")).Pages -}}
      {{- $person := site.GetPage (printf "/persons/%s" .Slug) -}}
      {{ with $person }}
        <tr>
          <th scope="row">
            {{ $title := partial "PrepareHTML" .Title -}}
            <a href="{{ .Permalink }}" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" $title)) }}">
              {{- $title -}}
            </a>
          </th>
          <td>
            {{- if (partial "GetTextFromHTML" .Content) -}}
              {{- partial "GetTruncateContent" .Content -}}
            {{- end -}}
          </td>
        </tr>
      {{ end }}
    {{- end -}}
  </tbody>
</table>
{{ partial "commons/pagination.html" . }}
