<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {{- partial "head/css.html" -}}
      {{- partial "head/seo.html" -}}
      {{- partial "head/ga.html" -}}
    </head>
    <body>
      {{- partial "nav-accessibility.html" -}}
      {{- partial "header.html" -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "cookie-banner.html" . -}}
        {{- partial "js.html" . -}}
    </body>
</html>
