footer[role="contentinfo"]
    .nav-link
        line-height: px2rem(22)
    .nav--levels > li
        & > a,
        & > span
            @extend .h2
            border-bottom: 1px solid $border-color
        .nav-level-2 > li
            & > a,
            & > span
                font-size: px2rem(18)
                line-height: px2rem(26)
