header[role="banner"]
    .nav-link
        font-size: px2rem(18)
        @include media-breakpoint-down(lg)
            font-size: px2rem(20)
            padding-bottom: px2rem(10)
            padding-top: px2rem(10)
    @include media-breakpoint-up(md)
      .navbar-nav
          margin-right: -$navbar-nav-link-padding-x
