header[role="banner"]
    background-color: white
    position: sticky
    top: 0
    z-index: 10
    
    .logo
        img
            height: 42px
            @include media-breakpoint-down(lg)
                height: 30px
