// colors
.posts__section,
.posts__page,
.posts_categories__taxonomy,
.posts_categories__term
.events_categories__taxonomy,
.events_categories__term
    @include page-color($post-color)

.diplomas__taxonomy,
.diplomas__term,
.programs__section
    @include page-color($program-color)

.pages__section,
.pages__page,
.persons__section,
.persons__page,
.teachers__taxonomy,
.administrators__taxonomy,
.authors__taxonomy,
.researchers__taxonomy
    @include page-color($institute-color)

.page__home,
.authors__term
    @include page-color($site-color)

.publications__page,
.publications__section,
.researchers__taxonomy,
.researchers__term
    @include page-color($research-color)

// Programs
ol.programs,
ul.categories
    > li 
        > .title
            font-size: pxToRem(28)
            @include media-breakpoint-up(md)
                @include h3

.diplomas__taxonomy
    .diplomas
        > li 
            > a
                @include h3
            .programs
                > li > a
                    @include h5
.diplomas__term
    ol.programs
        li .title
            @include h4

.diplomas__term,
.programs__section
    .hero
        @include media-breakpoint-down(desktop)
            padding-bottom: 0
        .essential-container
            .buttons
                .dropdown-share
                    --btn-background: #{$program-color}
                    --btn-border: 1px solid #{$hero-color}
                    --btn-color: #{$hero-color}
        .essential
            dt
                color: transparentize($hero-color, .2)
        .container + div
            position: relative
            @include media-breakpoint-down(desktop)
                background-color: darken($program-color, 3)
                padding-bottom: $spacing-3
                padding-top: $spacing-2
            @include media-breakpoint-up(desktop)
                border-top: 1px solid hsla(0,0%,100%,.3)
                padding-top: $spacing-4
            .diplomas-select 
                .dropdown-menu 
                    a:hover
                        background-color: $program-color
.programs__section
    .block-key_figures
        ul
            @include media-breakpoint-up(md)
                @include grid(4)
                padding-bottom: $spacing-6
                padding-top: $spacing-5
    .document-content
        .content
            > h2
                @include h6
            h3
                @include h4

// Posts
.post
    [itemprop="headline"]
        @include h4
