// Header

header[role="banner"]
    border-bottom-color: hsla(0,0%,100%,.2)
    .dropdown-menu
        @include media-breakpoint-up(md)
            border-top: 1px solid rgba(0,0,0,.2)
            padding-bottom: $spacing3
            padding-top: $spacing3
        a, span
            font-family: $body-font-family
    .nav-level-1
        > li 
            > a, span
                @include media-breakpoint-down(md)
                    font-size: px2rem(18)
    .nav-level-2
        @include media-breakpoint-down(md)
            .has-children  + .has-children
                margin-top: 0
            ul
                padding-top: 0
        a, span
            font-size: px2rem(16)
            @include media-breakpoint-down(md)
                padding: calc(#{$spacing0} / 2) 0
    .nav-level-3 
        a, span 
            font-size: px2rem(14)
            @include media-breakpoint-down(md)
                line-height: 140%

// Breadcrumb
.breadcrumb 
    li
        a
            text-decoration-color: rgba($breadcrumb-color, 0.2)
            &:hover
                color: white


// colors
.posts__section,
.posts__page,
.categories__taxonomy,
.categories__term
    @include page-color($post-color)

.diplomas__taxonomy,
.diplomas__term,
.programs__section
    @include page-color($program-color)

.pages__section,
.pages__page,
.persons__section,
.persons__page
    @include page-color($institute-color)

// hero
body:not(.diplomas__term)
    .hero
        display: flex
        .content
            height: 100%
            figure
                margin-bottom: 0
                position: relative
                figcaption
                    position: absolute
                    bottom: 0
                    left: 0
                    right: 0

ol.programs,
ul.categories 
    > li 
        > .title
            font-size: px2rem(28)
            @include media-breakpoint-up(md)
                @include h3
ol.programs,
ul.diplomas
    > li,
    ol.programs li
        a:hover
            color: $program-color

// Programs
.diplomas__term,
.programs__section
    .hero
        @include media-breakpoint-down(desktop)
            padding-bottom: $spacing1
        .container + div
            @include media-breakpoint-down(desktop)
                background-color: darken($program-color, 3)
                margin: $spacing1 $spacing1 0
                padding-bottom: $spacing1
            .essential
                dt
                    color: transparentize($hero-color, .2)
            .buttons
                .dropdown-share
                    button
                        border-color: white
                    .dropdown-menu
                        a 
                            color: $program-color
            .diplomas-select 
                .dropdown-menu 
                    a:hover
                        background-color: $program-color
.programs__section
    .block-key_figures
        ul
            @include media-breakpoint-up(md)
                @include grid(4)
                padding-bottom: $spacing4
                padding-top: $spacing3

// Home
.page__home
    .hero
        align-items: start
        margin-bottom: $spacing3
        padding-bottom: $spacing3
        // min-height: auto !important
        // padding-bottom: 0
        @include media-breakpoint-down(md)
            padding-top: px2rem(180)
        @include media-breakpoint-up(xl)
            margin-bottom: $spacing4
            min-height: $hero-height-desktop
        @include media-breakpoint-up(desktop)
            hgroup
                max-width: 50%
        @include media-breakpoint-down(md)
            padding-bottom: 0
        .container
            margin-top: $spacing3
            .content
                margin-top: 0
                z-index: 1
        h1
            @media (min-width: 1200px) and (max-width: 1360px)
                font-size: px2rem(50)
        figure
            picture
                margin-bottom: 0 !important
                height: 100%
            @include media-breakpoint-down(lg)
                aspect-ratio: 8/6
                display: block
                margin-bottom: half($grid-gutter)
            @include media-breakpoint-down(md)
                margin-bottom: 0
            @include media-breakpoint-up(lg)
                top: calc(#{$spacing3} +  calc(2.6rem + var(--header-height)))
                bottom: - $grid-gutter
                margin-bottom: 0 !important
                left: calc(50% + #{$grid-gutter} / 2)
                position: absolute
                right: $grid-gutter
                width: auto
            img
                height: 100%
                object-fit: cover
                width: 100%
        p
            @include media-breakpoint-down(xl)
                margin-bottom: px2rem(30)
// Footer
footer[role="contentinfo"]
    position: relative
    @include media-breakpoint-up(md)
        &::before
            border-bottom: 1px solid hsla(0,0%,100%,.3)
            content: ""
            left: 0
            position: absolute
            right: 0
            top: 50%
    ul li a,
    a
        @include link($footer-color)
    .footer
        &-site
            @include meta
        &-social, &-legals, &-credit
            @include small

// Typography
@include media-breakpoint-up(xl)
    .persons__page
        .lead
            @include h2

@include media-breakpoint-down(md)
    ol.programs
        > li
            > .title::after
                bottom: unset
                font-size: px2rem(12)

// blocks

.block
    .top
        h2, h3
            @include h4
    @include in-page-without-sidebar
        h2, h3 
            @include h6
    @include in-page-with-sidebar
        h2
            @include h4

.block-pages
    .cards
        h1
            @include h4
    &--grid
        .top
            h2
                @include h6
    &--list
        .top
            a
                @include link
                text-decoration-color: rgba(0,0,0,0)
        .block-content
            @include in-page-with-or-without-sidebar
                grid-row-gap: $spacing3
            @include in-page-without-sidebar
                .description
                    @include h3
.block-posts
    &--highlight
        .highlight-post
            h1
                @include h3
.block-chapter
    @include in-page-with-or-without-sidebar
        h2, h3
            @include h5

.block-call_to_action
    .call_to_action
        @include in-page-without-sidebar
            h2
                @include h2
        @include in-page-with-sidebar
            h2
                @include h2
        .description
            p
                @include inherit-text
.block-organization_chart
    article
        .name
            a
                @include meta
                @include link
                
                

