@mixin page-color($color)
    .hero
        background-color: $color
    .block-testimonials
        blockquote p
            color: $color
    .block-call_to_action
        --cta-background-color: #{$color}
    .block-timeline--horizontal
        background: $color