.block-files
    a
        &:hover
            &::before
                background-color: transparentize($main-color, 0.8)
                border-color: transparent
                color: white
        span 
            line-height: 120%