.block-files
    ul
    a
        &:hover
            &::before
                background-color: $main-color
                border-color: transparent
                color: white
        span span
            font-size: $small-font-size