.block-pages
    &--list
        .main-page
            .title
                a
                    @include icon("arrow-right", after)
        .pages
            .page
                .title
                    font-family: $body-font-family
                    font-size: px2rem(18)
                    margin-bottom: 0
