{{ define "main" }}
{{- partial "header/hero.html"
      (dict
        "title" .Title
        "image" .Params.image
        "context" .
      ) -}}
<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-3">
      <ul class="nav toc" id="nav-toc">
        <li class="nav-item"><a class="nav-link" href="#page-informations">Informations</a></li>
        {{ if .Params.child_pages }}
        <li class="nav-item"><a class="nav-link" href="#page-children">En détail</a></li>
        {{ end }}
        {{ range .GetTerms "categories" }}
        <li class="nav-item"><a class="nav-link" href="#page-posts">Actualités</a></li>
        {{ end }}
      </ul>
    </div>
    <div class="col-md-8 offset-lg-1">
      {{ if .Params.image }}
        {{ partial "commons/image.html"
              (dict
                "image"         .Params.image
                "size_mobile"   "351x168"
                "size_tablet"   "456x219"
                "size_desktop"  "856x410"
                "class"         "img-fluid mb-4"
                "itemprop"      true
              )}}
      {{ end }}
      <div itemprop="articleBody" id="page-informations">
        {{ .Content }}

        {{ if .Params.child_pages }}
        <hr class="my-5">
        <div class="top">
          <h2 id="page-children">En détail</h2>
        </div>
        <div class="row row-cols-md-2 g-3">
          {{ range .Params.child_pages }}
            {{ $page := partial "GetPageByUrl" . }}
            <div class="col">
              <a href="{{ $page.Permalink }}">{{ htmlUnescape $page.Title }}</a>
            </div>
          {{ end }}
        </div>
        {{ end }}

        {{ range .GetTerms "categories" }}
          {{ partial "posts/related.html" .}}
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
