.hero
    background-color: $site
.toc
    .active
        color: $site

.page__home
    .hero__image
        filter: none
        mix-blend-mode: normal
        opacity: .2

.pages__section,
.pages__page,
.administrators__taxonomy,
.administrators__term
    .hero
        background-color: $institut
    .toc
        .active
            color: $institut

.programs__section,
.teachers__taxonomy,
.teachers__term
    .hero
        background-color: $diplomes
    .toc
        .active
            color: $diplomes

.posts__section,
.posts__page,
.categories__taxonomy,
.categories__term,
.authors__taxonomy,
.authors__term
    .hero
        background-color: $post
    .toc
        .active
            color: $post
