.blocks
    > *
        padding-bottom: 8rem
        padding-top: 4rem
    + .blocks
        > *
            padding-top: 0

    &-chapo
        .container
            .lead
                margin-bottom: 0
