.block-pages
    .block-content
        @include media-breakpoint-up(lg)
            align-items: flex-start
            display: flex
            > *
                flex: 1
    .main-page
        @include media-breakpoint-up(lg)
            > div:first-child
                padding-right: $grid-gutter-width
        .title + p
            @extend .h3
            margin-top: calc(#{$spacer} * 2)
        .title
            @extend .surtitle
            font-weight: 600
            a
                font-size: inherit
                &::after,
                &::before
                    content: none
    .pages
        --bs-gutter-y: 0
        @include media-breakpoint-up(lg)
            margin-top: 4.5rem
        > *
            margin-top: px2rem(10)
            width: 100%
    .page
        > div
            padding: 0
        .title
            margin-bottom: 0
            a
                font-size: px2rem(18)
                &::after
                    content: none

// .block-pages
//     background-color: $light
//     padding-bottom: $grid-gutter-width
//     padding-top: $grid-gutter-width
//     @include media-breakpoint-up(lg)
//         padding-bottom: px2rem(128)
//         padding-top: px2rem(128)
//     .main-page
//         .title
//             @extend .surtitle
//             a
//                 &::before
//                     content: none
//         .title + p
//             @extend .h3
//     .pages
//         --bs-gutter-y: #{$grid-gutter-width}
//         > *
//             @extend .col-lg-4
//             position: relative
//             &::after
//                 background-color: $border-color
//                 content: ''
//                 height: 100%
//                 position: absolute
//                 right: 0
//                 top: 0
//                 width: 1px
//
