<header class="hero">
  <div class="container">
    {{ partial "header/breadcrumbs.html" . }}
    <div class="title-avatar">
      <h1>{{ safeHTML (partial "CorrectPunctuation" .Title) }}</h1>
      <div>
        {{ if .Params.image }}
          <div class="avatar">
            {{ partial "commons/image.html"
                  (dict
                    "image"    .Params.image
                    "class"    "img-fluid"
                    "mobile"   "202x202"
                    "tablet"   "196x196"
                    "desktop"  "420x420"
                  )}}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</header>
