<table class="table-persons">
  <caption>{{ .Title }}</caption>
  <tbody>
    {{- $persons := .Pages.ByParam "last_name" }}
    {{ range (.Paginate $persons).Pages }}
    <tr>
      <th scope="row">
        {{ $title := partial "PrepareHTML" .Title -}}
        <a href="{{ .Permalink }}" title="{{- safeHTML (i18n "commons.more_aria" (dict "Title" $title)) -}}">
          {{- $title -}}
        </a>
      </th>
      <td>
        {{ if (partial "GetTextFromHTML" .Content) }}
          {{- partial "GetTruncateContent" .Content -}}
        {{ end }}
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ partial "commons/pagination.html" . }}
