.programs__section
    header[role="banner"],
    .hero
        background-color: $program-color
    aside
        background-color: darken($program-color, 3)

    section
        scroll-margin-top: calc(#{$header-height} + #{$toc-height})

    .hero
        margin-bottom: - $toc-height
        padding-bottom: $toc-height

    aside
        position: sticky
        top: 0
        top: $header-height
        z-index: 1
        @include media-breakpoint-up(md)
            margin-bottom: px2rem(128)

    main
        .content
            > div
                @extend .col-md-7
            > div:first-of-type
                @extend .col-md-5
            h2
                @extend .surtitle
            h3
                @extend .h4

    article > section:not(:first-of-type)
        .container::before
            border-top: 1px solid black
            content: ''
            display: block
            margin-top: $grid-gutter-width
            padding-top: $spacer

    .table-persons
        border: 0
        > :not(caption) > * > *
            border: 0
            padding-bottom: 1rem
            padding-top: 1rem
        th, td
            font-weight: 400
            line-height: 140%
            @include media-breakpoint-up(lg)
                font-size: 22px
        th
            padding-right: 0
            width: calc(100% / 7 * 3)
        td
            padding-left: calc(#{$grid-gutter-width} / 2)
