.program
    .title
        .highlighted &
            font-weight: $headings-font-weight

ol.programs
    li
        @include media-breakpoint-down(md)
            position: relative
        a
            text-decoration: none
            transition: color .3s
            &:hover
                color: $program-color
        a:first-of-type
            @extend .h3
            margin-bottom: 0
            @include media-breakpoint-down(md)
                font-size: px2rem(28)
                margin-bottom: px2rem(5)
                &::after
                    bottom: 1.8rem
                    position: absolute
                    right: 0
        a + a
            @include media-breakpoint-up(md)
                font-size: px2rem(22)
                line-height: 140%
