.persons__section
    .page-with-blocks
        .hero
            @include media-breakpoint-up(md)
                margin-bottom: px2rem(120)
    .toc
        ol
            > li
                &:not(:last-child)
                    margin-bottom: 0
                > a
                    @extend .tabtitle
                    color: $gray-500
        .active
            color: $institute-color
    .block-timeline,
    aside ~ .blocks .block-call_to_action .call_to_action > div
        background-color: $institute-color
