.breadcrumb
    li
        font-size: px2rem(18)
        padding: 0.3rem 0
        a,
        span
            font-size: $h4-size
            &:hover
                color: white
        &:not(:first-child)
            padding-left: px2rem(18)
        //     &::before
        //         content: map-get($icons, "caret-right")
