footer[role="contentinfo"]
    margin-top: 0
    a
        @include link($footer-color)
    [class^="nav-"]
        a
            padding-bottom: px2rem(8)
            padding-top: px2rem(8)
    p
        margin-bottom: 0

    @include media-breakpoint-up(md)
        padding-bottom: 0
        .container
            .content
                @include grid(2)
                padding-bottom: $spacing5
                .logo img
                    height: $header-logo-height
                div + div
                    text-align: right

        .complementary
            justify-content: space-between
            padding-bottom: $spacing2
            padding-top: $spacing2
            position: relative
            &::before
                background-color: hsla(0,0%,100%,.3)
                bottom: 7.5rem
                content: ""
                height: 1px
                left: 50%
                position: absolute
                top: 0
                -webkit-transform: translateX(-50%)
                -moz-transform: translateX(-50%)
                -o-transform: translateX(-50%)
                transform: translateX(-50%)
                width: 100vw

            ul,
            .nav-legal,
            .nav-social
                display: flex
                flex-direction: column
            .nav-social
                li
                    width: 100%
                    text-align: right
            
                
        ul,
        .nav-legal
            @include list-reset
            li:not(:first-child)
                margin-left: 0

    @include media-breakpoint-up(xxl)
        .complementary
            .nav-level-1
                flex-direction: row
        nav
            display: flex
            align-items: center
            small
                &::before
                    content: '—'
                    margin-inline-end: 0.5em
