body:not(.page__home)
    .hero
        flex-direction: column
        min-height: calc(548px + var(--header-height))
        padding-top: calc(#{$spacing1 / 2} + var(--header-height))
        .title-avatar
            align-items: flex-start
            @include media-breakpoint-down(md)
                display: flex
            > div
                width: 25%
                padding-left: $spacing2
        > div:first-of-type
            > div
                margin-top: px2rem(30)
                @include media-breakpoint-up(md)
                    margin-bottom: px2rem(80)

.posts__page
    .hero
        align-items: unset
        padding-bottom: 0
        @include media-breakpoint-up(md)
            .container
                > div:first-of-type:not(.title-avatar)
                    max-width: 76.666666667%
        > div:last-child 
            &::before
                background-color: hsla(0,0%,100%,.2)
                content: ""
                display: block
                height: 1px
                width: 100%
            .container 
                time
                    font-size: px2rem(18)