.pagination
    li 
        a,
        span
            font-size: px2rem(14)
            @include media-breakpoint-up(md)
                font-size: px2rem(18)
        span
            color: #6c757d