body.diplomas__taxonomy,
body.diplomas__term
    .hero
        background-color: $program-color
        min-height: calc(548px + var(--header-height) - 20px)
        margin-bottom: px2rem(120)
        @include media-breakpoint-down(md)
            margin-bottom: $spacing2
            min-height: 300px
            padding-top: calc(#{$spacing3} / 2)

.diplomas__taxonomy
    @include media-breakpoint-down(md)
        .lead
            font-size: $h5-size-md
    ul.diplomas
        > li
            margin-bottom: px2rem(60)
            padding-bottom: $spacing1
            padding-top: $spacing1
            a
                align-items: center
                display: flex
                justify-content: space-between
                margin-bottom: $spacing1
                text-decoration: none
                @include icon(arrow-right, after)
                &::after
                    font-size: 12px
                &:hover
                    color: $program-color
                    transition: color .3s
        ol.programs
            li
                position: relative
                @include media-breakpoint-up(md)
                    display: flex
                    *
                        width: 50%
                a
                    font-size: px2rem(18)
                    font-weight: 600
                    line-height: 130%
                    margin-bottom: 0
                    @include stretched-link(after)
                    @include media-breakpoint-up(md)
                        padding-right: px2rem(30)
                    @include media-breakpoint-up(lg)
                        font-size: $h4-size-md
                p
                    margin-bottom: 0
                    @include media-breakpoint-down(md)
                        margin-top: $spacing1

.diplomas__term 
    @include media-breakpoint-down(md)
        .hero 
            h1
                padding-bottom: $spacing1
            > .container 
                + div
                    width: calc(100% - #{$spacing0} * 2)
    .essential 
        dt
            white-space: nowrap
        dt:first-of-type,
        dd:first-of-type
            display: none
    ol.programs 
        a
            align-items: center
            display: flex
            justify-content: space-between
            width: 100%
            + a
                display: none
    @include media-breakpoint-down(md)
        ol.programs
            li
                a
                    align-items: flex-end
                    font-size: px2rem(28)
                    @include icon(arrow-right, after)
                    &::after
                        font-size: 12px
