.page__home
    .hero
        align-items: start
        margin-bottom: $spacing3
        min-height: auto
        overflow: visible
        padding-bottom: 0
        @include media-breakpoint-down(md)
            padding-top: px2rem(140)
        @include media-breakpoint-up(xl)
            margin-bottom: $spacing4
        @include media-breakpoint-up(xl)
            min-height: $hero-height-md
        .container
            margin-top: $spacing3
            @include media-breakpoint-up(lg)
                @include grid(2, md)
            > div:first-of-type:not(.title-avatar)
                margin-top: 0
                position: relative
                z-index: 1
        h1
            @media (min-width: 1200px) and (max-width: 1360px)
                font-size: px2rem(50)

        picture
            display: block
            @include media-breakpoint-up(lg)
                margin-bottom: - $grid-gutter
                max-height: calc(650px - #{$header-height-md} - #{$grid-gutter})
            @include media-breakpoint-down(md)
                margin-left: calc(-#{$grid-gutter-sm} / 2)
                margin-right: calc(-#{$grid-gutter-sm} / 2)
            img
                display: block
                height: 100%
                object-fit: cover
                width: 100%
                opacity: 1
        p
            @include media-breakpoint-down(xl)
                margin-bottom: px2rem(30)
    .blocks
        // > *
        //     &::before
        //         content: none
        // > *:not(.block-pages--cards)
        //     padding-top: 0
        //     .top
        //         // border-top: 1px solid black
        //         padding-top: $spacer
        // .block-pages--list
        //     .block-content
        //         // border-top: 1px solid black
        //         padding-top: $spacer
        .block-pages
            .main-page
                a
                    @include hover-translate-icon
                    text-decoration-color: transparent
                    &:hover
                        text-decoration-color: black
                    &::before
                        content: ''
                        inset: 0
                        position: absolute
                    &::after
                        @include icon(arrow-right)
                        font-size: px2rem(14)
                        margin-left: px2rem(16)
                        position: static
    .block-timeline--horizontal,
    aside ~ .blocks .block-call_to_action .call_to_action > div
        background-color: $site-color
