.posts
    .post 
        .title
            line-height: 130%
            a
                font-family: $heading-font-family
                font-weight: 500
                text-decoration: none
                &:hover
                    color: $post-color
        time 
            color: #6c757d
            font-size: px2rem(18)
            margin-top: 10px

.post
    .media
        aspect-ratio: auto
        img
            aspect-ratio: auto

.table-infos
    th
        color: #6c757d
        padding-top: calc(#{$spacing2} / 3)
        padding-bottom: calc(#{$spacing2} / 3)

body.posts__page 
    aside
        padding-top: $spacing3
        .infos
            p 
                font-weight: 600
                letter-spacing: -.01em
                line-height: 130%
            ul.post-categories
                margin-bottom: $spacing2
                li
                    display: list-item
                    margin-bottom: px2rem(15)
                    margin-left: 0
                    a
                        color: $post-color
                        font-size: px2rem(18)
                        line-height: 120%
            ul.share
                flex: 1
                justify-content: flex-end
                li
                    a
                        padding: px2rem(12)
                    &:last-child
                        a
                            padding-right: 0
            div + div
                align-items: center
                display: flex
                padding-top: $spacing1
                position: relative
                p
                    margin: 0
                &::before
                    background-color: #000
                    content: ""
                    height: 1px
                    left: 0
                    position: absolute
                    right: 0
                    top: 0
        @include media-breakpoint-down(md) // TODO : Est-ce qu'il faut le mettre dans grid.sass ?
            display: block
            padding-top: calc(#{$spacing3 / 2})
        
        &~.blocks
            .lead
                margin-bottom: $spacing2
                @include media-breakpoint-up(lg)
                    font-size: $h3-size-md
            .block-chapter.block-with-title
                position: relative
                @include media-breakpoint-down(md)
                    padding-top: 1rem
                &::before
                    background: rgba(0,0,0,.2)
                    content: ""
                    height: 1px
                    left: calc(#{$grid-gutter-sm / 2})
                    position: absolute
                    right: calc(#{$grid-gutter-sm / 2})
                    top: 0
                    @include media-breakpoint-up(md)
                        left: offset(5)
                        margin-left: calc(#{$spacing1 /2})
                        right: $grid-gutter
    figure
        figcaption
            p
                font-size: $h5-size
                line-height: 140%
    .blocks
        .block-call_to_action
            .block-content
                .call_to_action
                    > div
                        background-color: $post-color
                    div + div:first-child
                        a
                            background-color: #F5F5F5
                            color: black
                            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                            &:hover
                                background-color: #000
                                color: #fff
        .block-video 
            iframe
                aspect-ratio: 16/9
                display: block
                width: 100%

        &-pagination
            .container
                margin-top: 0
            .block-content
                padding: 0
                ul
                    margin: 0
    &.full-width
        .blocks
            .block-call_to_action
                .block-content
                    background-color: $post-color
    &:not(.full-width)
        aside
            @include media-breakpoint-up(md)
                > div
                    top: $spacing1