.posts
    .post 
        .title
            a
                font-family: $heading-font-family
                font-weight: 500
                text-decoration: none
                &:hover
                    color: $post-color
        time 
            color: #6c757d


.block-posts
    .posts
        @include grid(1)
        @include grid(2, md)

.table-infos
    th
        color: #6c757d
        padding-top: $spacing2 / 3
        padding-bottom: $spacing2 / 3