.programs 
    > li 
        a
            transition: color .3s
            &::first-child
                padding-right: 0 !important
            &.title
                font-size: $h3-size
                @include icon('arrow', after)
                    font-size: px2rem(12)
                @include media-breakpoint-down(md)
                    display: flex
                    align-items: flex-end
                    justify-content: space-between
                    font-size: $h4-size-md
                @include media-breakpoint-up(md)
                    &::after
                        opacity: 0
                        transform: translateX(-$spacing0)
                        transition: all 0.55s $arrow-ease-transition-2
                    &:hover 
                        &::after
                            opacity: 1 !important
                            transform: translateX($spacing0)
            + a 
                font-size: $h6-size-md
                white-space: nowrap
                @include media-breakpoint-down(md)
                    font-size: $h5-size
                    margin-top: px2rem(10)
            &:hover
                color: $program-color
        

body.programs__section,
.diplomas__term
    header[role="banner"]:not(.is-sticky)
        html:not(.has-menu-opened) &
            background-color: $program-color
    .hero
        background-color: $program-color
        display: flex
        padding-bottom: 0
        @include media-breakpoint-up(md)
            min-height: 548px
        h1 
            width: 75%
            @include media-breakpoint-down(md)
                margin: 0
                width: unset
        > .container
            + div
                @include media-breakpoint-down(md)
                    background-color: darken($program-color, 3)
                    margin: px2rem(50) $spacing0 px2rem(40)
                @include media-breakpoint-up(md)
                    width: 100%
                    &::before
                        background-color: hsla(0,0%,100%,.2)
                        content: ""
                        display: block
                        height: 1px
                        width: 100%
                    .container
                        padding-top: px2rem(45)
        + aside
            background-color: darken($program-color, 3)
            @include media-breakpoint-down(md)
                background-color: $program-color
                border-top: 1px solid rgba(white, .2)
            a
                color: white
    .essential
        font-size: $h4-size
        margin: 0
        @include media-breakpoint-up(md)
            dt,
            dd
                padding-top: calc(#{$spacing1} / 2)
                padding-bottom: calc(#{$spacing1} / 2)
            dd
                grid-column: 4/13
    
    .buttons
        button, a[download]
            border-radius: 4px
            min-width: px2rem(200)
    //         padding: 1rem 1.25rem
    //         transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
    //         &:hover,
    //         &:active,
    //         &:focus
    //             background: white
    //             color: $main-color
    //         &:active,
    //         &:focus
    //             box-shadow: 0 0 0 0.25rem rgba(white, .5)

    main 
        .content 
            h2
                font-size: $h2-size
                font-weight: 600
                line-height: 130%
                text-transform: uppercase
            h3
                @extend .h4
        .blocks
            > *
                padding-bottom: $spacing4
                padding-top: $spacing3

    table
        border: none
        &.table-persons 
            tbody
                tr, 
                th,
                td
                    border: none
                    font-size: $h5-size

                    a
                        font-weight: 400
        
    

