.diplomas__taxonomy,
.diplomas__term
    header[role="banner"],
    .hero
        background-color: $program-color
        > div + div
            .container
                padding-top: px2rem(45)
    .essential
        dt:first-of-type,
        dd:first-of-type
            display: none
