.diplomas__taxonomy,
.diplomas__term
    .page-with-blocks
        .hero
            @include media-breakpoint-up(md)
                margin-bottom: px2rem(120)
    header[role="banner"]:not(.is-sticky)
        html:not(.is-menu-open) &
            background-color: $program-color
    .hero
        background-color: $program-color
        margin-bottom: 3rem
        > div + div
            .container
                padding-top: px2rem(45)
    .essential
        dt:first-of-type,
        dd:first-of-type
            display: none
