<header class="hero">
  {{- if .image }}
    {{ partial "commons/image.html"
        (dict
          "image"    .image
          "class"    "hero__image"
          "mobile"   "375x450"
          "tablet"   "768x450"
          "desktop"  "x450"
          "lazy"     false
        ) }}
  {{ end -}}
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1>{{ safeHTML (partial "CorrectPunctuation" .title) }}</h1>
      </div>
    </div>
    <div class="hero__nav">
      {{ partial "header/breadcrumbs.html" . }}
    </div>
  </div>
</header>
