{{ $title := or .Title .Description }}
<header class="hero">
  {{ if .Params.image }}
    {{ partial "image.html"
        (dict
          "image"         .Params.image
          "size_mobile"   "375x450"
          "size_tablet"   "768x450"
          "size_desktop"  "x450"
          "no_lazy"       true
          "class"         "hero__image"
        ) }}
  {{ end }}
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1>{{ safeHTML $title }}</h1>
      </div>
    </div>
    <div class="hero__nav">

    </div>
  </div>
</header>
