<article class="card">
  <div class="card-media">
    {{- if .Params.image -}}
      {{- partial "image.html"
            (dict
              "image"         .Params.image
              "size_mobile"   "375x450"
              "size_tablet"   "334x167"
              "size_desktop"  "634x317"
            ) -}}
    {{- else -}}
      <img src="/assets/images/default.jpg" alt="">
    {{- end -}}
  </div>
  <div class="card-body">
    <p class="card-title">{{ htmlUnescape .Title }}</p>
    <time datetime="{{ .Date.Format "2006-01-02T15:04" }}">{{ .Date.Format "02 Jan 2006" }}</time>
    <a href="{{ .Permalink }}" class="stretched-link link link--more">En savoir plus</a>
  </div>
</article>
