{{- $title := or .Params.header_text .Title -}}
<header class="hero">
  <div class="container">
    {{- if .Params.breadcrumb | default true -}}
      {{ partial "header/breadcrumbs.html" . }}
    {{- end -}}
    <div>
      <p class="surtitle">Sur titre</p>
      <h1>{{ partial "PrepareHTML" $title }}</h1>
    </div>
  </div>
  <div>
    <div class="container">
      <table>
        <caption>{{ i18n "programs.toc.essential" }}</caption>
        <tbody>
          {{- with .Params.diploma -}}
            {{- $diploma := site.GetPage (printf "/diplomas/%s" .) -}}
            <tr>
              <th>{{ i18n "programs.diploma" }}</th>
              <td>
                {{- with $diploma -}}
                  <a href="{{ .Permalink }}">{{ .Title }}</a>
                  {{- end -}}
              </td>
            </tr>
          {{- end -}}
          <tr>
            <th>{{ i18n "programs.level" }}</th>
            <td>Bac +3 - Licence / Bachelor</td>
          </tr>
          {{- with .Params.duration -}}
            <tr>
              <th>{{ i18n "programs.duration" }}</th>
              <td>{{ partial "PrepareHTML" . }}</td>
            </tr>
          {{- end -}}
          {{- with .Params.ects -}}
            <tr>
              <th>{{ i18n "programs.ects_credits" }}</th>
              <td>{{ . }}</td>
            </tr>
          {{- end -}}
        </tbody>
      </table>
    </div>
  </div>
  {{ partial "programs/aside.html" . }}
</header>
