{{- $title := or .Params.header_text .Title -}}
<header class="hero">
  <div class="container">
    {{- if .Params.breadcrumb | default true -}}
      {{ partial "header/breadcrumbs.html" . }}
    {{- end -}}
    <div>
      <h1>{{ partial "PrepareHTML" $title }}</h1>
    </div>
  </div>
  <div id="essential">
    <div class="container">
      <table>
        <caption>{{ i18n "programs.toc.essential" }}</caption>
        <tbody>
          {{- with .Params.diploma -}}
            {{- $diploma := site.GetPage (printf "/diplomas/%s" .) -}}
            {{- with $diploma -}}
              <tr>
                <th>{{ i18n "programs.diploma" }}</th>
                <td>
                    <a href="{{ .Permalink }}">{{ partial "PrepareHTML" .Title }}</a>
                </td>
              </tr>
              {{- if .Params.level -}}
              <tr>
                <th>{{ i18n "programs.level" }}</th>
                <td>{{ partial "PrepareHTML" .Params.level }}</td>
              </tr>
              {{- end -}}
              {{- if .Params.duration -}}
              <tr>
                <th>{{ i18n "programs.duration" }}</th>
                <td>{{ partial "PrepareHTML" .Params.duration }}</td>
              </tr>
              {{- end -}}
              {{- if .Params.ects -}}
              <tr>
                <th>{{ i18n "programs.ects_credits" }}</th>
                <td>{{ .Params.ects }}</td>
              </tr>
              {{- end -}}
            {{- end -}}
          {{- end -}}
        </tbody>
      </table>
    </div>
  </div>
  {{ partial "programs/aside.html" . }}
</header>
