<header class="hero">
  <div class="container">
    {{- if .Params.breadcrumb | default true -}}
      {{ partial "header/breadcrumbs.html" . }}
    {{- end -}}
    <div>
      <h1>{{ partial "PrepareHTML" .Title }}</h1>
    </div>
  </div>
  <div>
    <div class="container">
      {{ $date := .Date | time.Format ":date_long" }}
      <time datetime="{{ .Date.Format "2006-01-02T15:04" }}">{{ $date }}</time>
      {{ range .GetTerms "authors" }}
        <p itemscope itemtype="https://schema.org/Person" itemprop="author">
          <a href="{{ .Permalink }}" itemprop="url">
            <span itemprop="name">{{ safeHTML .Params.person }}</span>
          </a>
        </p>
      {{ end }}
    </div>
  </div>
</header>
