<article class="post">
  <div>
    {{- $title := partial "PrepareHTML" .Title -}}
    <p class="title"><a href="{{ .Permalink }}" title="{{ safeHTML (i18n "commons.more_aria" (dict "Title" $title)) }}">{{ $title }}</a></p>
    {{- if (partial "GetTextFromHTML" .Params.description_short) -}}
      <p>{{ partial "PrepareHTML" .Params.description_short }}</p>
    {{- end -}}
    <time datetime="{{ .Date.Format "2006-01-02T15:04" }}">{{ .Date | time.Format ":date_long" }}</time>
  </div>
  <div class="media">
    {{- if .Params.image -}}
      {{- partial "commons/image.html"
            (dict
              "image"    .Params.image
              "mobile"   "114x114"
              "tablet"   "334x334"
              "desktop"  "634x634"
            ) -}}
    {{- else -}}
      {{- partial "commons/image-default.html" -}}
    {{- end -}}
  </div>
</article>
