.pages__section,
.pages__page
    header[role="banner"]:not(.is-sticky)
        background-color: $institute-color
        .menu-expand
            .dropdown-menu
                background-color: $institute-color
    .hero
        background-color: $institute-color
    // .menu
    //     @include media-breakpoint-down(lg)
    //         background-color: $institute-color
    .toc
        ol
            > li
                &:not(:last-child)
                    margin-bottom: 0
                > a
                    @extend .tabtitle
                    color: $gray-500
        .active
            color: $institute-color

.pages__section
    main
        > div
            > aside
                padding-bottom: 4rem
                padding-top: 4rem
                > div
                    > *
                        @extend .col-md-4
                @include media-breakpoint-up(md)
                    ~ *
                        .container
                            > *
                                &:not(.call_to_action)
                                    padding-left: col(5)
                                &.call_to_action
                                    margin-left: col(5)
